/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // You can use Sass (SCSS) here: http://sass-lang.com/
 @font-face {
   font-family: "Mrs Eaves";
   src: url(/assets/mrs_eavessmallcaps_regular-webfont.ttf) format("truetype");
 }

 @font-face {
     font-family: 'scala_sans_scregular';
     src: url('scala-sans-regular-sc_39565-webfont.woff2') format('woff2'),
          url('scala-sans-regular-sc_39565-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'scalasansbold';
     src: url('scala-sans-bold-1361514697-webfont.woff2') format('woff2'),
          url('scala-sans-bold-1361514697-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'scala_sansregular';
     src: url('scalasans-regular-webfont.woff2') format('woff2'),
          url('scalasans-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

 .analytics_number{
   font-size: 18px;
   font-family: 'scalasansbold';
   font-weight: bold;
 }

 .back_to_homepage_button{
   background-color: black;
   color: white;
   font-weight: bold;
 }

 .create_new_button{
   background-color: grey;
   color: #bd0100;
   font-weight: bold;
 }

 .delete_button{
   background-color: red;
   color: yellow;
   font-weight: bold;
 }

 .user_show_button{
   background: url("https://orig00.deviantart.net/8a74/f/2007/223/b/4/old_crackly_parchment_texture_by_teeth_man.png") no-repeat scroll 0 0 transparent;
   border: none;
   font-family: "Mrs Eaves";
   color: black;
   padding: 1em;
   margin: 3em;
   border-radius: 20%;
   font-weight: bold
 }

 .user_show_button:hover {
  color: white
 }

 .user_show_button:visited {
   color: red
 }
