// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.character_name {
    width: 25%;
    height: 25%;
    object-fit: contain;
    }

img.attribute_holder {
    width: 11%;
    height: 11%;
    object-fit: contain;
    }

form input[type='text'].character_name {
      width: 24.5%;
      height: 30px;
      font-size: 18px;
    }

form input[type='number'].strength {
      position: absolute;
      width: 40px;
      top: 375px;
      height: 30px;
      left: 30px
      // margin-bottom: 10px;
    }
