// Place all the styles related to the Encounters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form input[type='text'].encounter_name {
      width: 24.5%;
      height: 30px;
      font-size: 18px;
    }

p.errors {
  color: red;
}

.encounter_description{
  width: 40%;
  height: 200px;
}

.very_easy_monster_type_titles {
  font-size: 20px;
  font-style: bold;
  color: blue;
  display: block;
}

.easy_monster_type_titles {
  font-size: 20px;
  font-style: bold;
  color: teal;
  display: block;
}

.medium_monster_type_titles {
  font-size: 20px;
  font-style: bold;
  color: green;
  display: block;
}

.hard_monster_type_titles {
  font-size: 20px;
  font-style: bold;
  color: #ffca37;
  display: block;
}

.very_hard_monster_type_titles {
  font-size: 20px;
  font-style: bold;
  color: #ff7f21;
  display: block;
}

.impossible_monster_type_titles {
  font-size: 20px;
  font-style: bold;
  color: red;
  display: block;
}

.monster_checkbox_container {
  display:grid;
  margin: 5px;
  font-size: 14px;
 }

 .checkboxes_container {
   -webkit-column-count: 5;
      -moz-column-count: 5;
           column-count: 5;
  }

.checkboxes_inner_container {
  flex: 1;
}

div.monster_background{
    background-image: url("https://i.pinimg.com/originals/25/bd/5e/25bd5ef9cc5f4224106cc99b8c7cd0ce.png");
    background-repeat: no-repeat;
    background-size: 430px 100%;
}

div.three_monster_background{
    background-image: url("https://i.pinimg.com/originals/25/bd/5e/25bd5ef9cc5f4224106cc99b8c7cd0ce.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1.encounter_show{
  font-family:"Mrs Eaves";
  color: #bd0100;
  margin-left: 0px;
}

h1.monster_show {
  font-family:"Mrs Eaves";
  color: #bd0100;
  margin-left: 40px;
  font-size: 2.5vw;
}

h3.monster_show {
  font-family:"Mrs Eaves";
  color: #bd0100;
  font-size: 26px;
  font-weight: bold;
}

img.monster_dividers{
   width: 80%;
   height: 100%;
   margin-left: 35px;
}

img.three_monster_dividers{
   width: 80%;
   height: 100%;
   margin-left: 35px;
}

span.monster_subtitles{
  font-family:"scalasansbold";
  color: #bd0100;
  margin-left: 40px;
}

span.monster_info{
  font-family:"scalasansbold";
  color: #bd0100;
}

h1.character_show {
  font-family:"Mrs Eaves";
  color: #bd0100;
  margin-left: 40px;
  font-size: 2.5vw;
}

h3.character_show {
  font-family:"Mrs Eaves";
  color: #bd0100;
  font-size: 26px;
  font-weight: bold;
  margin-left: 40px;
}

div.character_background{
    background-image: url("https://i.pinimg.com/originals/25/bd/5e/25bd5ef9cc5f4224106cc99b8c7cd0ce.png");
    background-repeat: no-repeat;
    background-size: 430px 100%;
}

div.three_character_background{
    background-image: url("https://i.pinimg.com/originals/25/bd/5e/25bd5ef9cc5f4224106cc99b8c7cd0ce.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

span.character_subtitles{
  font-family:"scalasansbold";
  color: #bd0100;
  margin-left: 40px;
}

img.character_dividers{
   width: 350px;
   height: 100%;
   margin-left: 35px;
}

img.three_character_dividers{
   width: 80%;
   height: 100%;
   margin-left: 35px;
}

span.character_info{
  font-family:"scalasansbold";
  color: #bd0100;
}

h3.versus{
  font-family:"Mrs Eaves";
  color: #bd0100;
  font-size: 60px;
  font-weight: bold;
  align: center;
}

.one_encounter_columns{
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
            display: block;
            justify-content: center;
            align-items: center;
            margin-left: 31%;
}

.two_encounter_columns{
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
          display: block;
          justify-content: center;
          align-items: center;
          margin-left: 7.5%;
}

.three_encounter_columns{
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
            display: block;
            justify-content: center;
            align-items: center;
}

.two_encounter_monster_columns{
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
          display: block;
          justify-content: center;
          align-items: center;
}
