// Place all the styles related to the Monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form input[type='text'].monster_name {
      width: 24.5%;
      height: 30px;
      font-size: 18px;
    }

.checkboxes_container {
  -webkit-column-count: 5;
     -moz-column-count: 5;
          column-count: 5;
 }

.checkboxes_inner_container {
 flex: 1;
 margin: 5px;
}
