body {
  background-image: url("https://cdn.wallpapersafari.com/85/53/q0GSPI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

// .grid-item {
//   background-image: url("https://i.pinimg.com/originals/25/bd/5e/25bd5ef9cc5f4224106cc99b8c7cd0ce.png");
//   background-size: cover;
//   background-position: center;
//   // display: block;
//   border: none;
//   text-align: center;
//   width: 250px;
//   margin: 2em;
//   color: #bd0100;
// }
