<h3>Welcome to the Dungeons and Dragons Encounter Generator</h3>
<br></br>
<%= link_to "View/Create an Encounter", encounters_path %><br>
<%= link_to "View/Create a Player Character", characters_path %><br>
<%= link_to "View/Create a Monster", monsters_path %><br>
